:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sr-accent-color: rgba(236, 202, 255, 1);
  --sr-accent-color-50: rgba(236, 202, 255, 0.5);

  --sr-ai-color: rgba(141, 72, 255, 1);

  --rs-color-primary-light-theme: rgb(141,72,255);
  --rs-color-primary-t-dim-light-theme: rgba(141,72,255,0.8);
  --rs-color-primary-t-fog-light-theme: rgba(141,72,255,0.2);

  --rs-color-primary-dark-theme: rgb(141,72,255);
  --rs-color-primary-t-dim-dark-theme: rgba(141,72,255,0.8);
  --rs-color-primary-t-fog-dark-theme: rgba(141,72,255,0.2);

  /* Legacy variables, please do not use in a new code */
  --rs-color-primary-dim-light-theme: #a46dff;
  --rs-color-primary-fog-light-theme: #e8daff;
  --rs-color-primary-dim-dark-theme: #713acc;
  --rs-color-primary-fog-dark-theme: #1c0e33;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.jb-offset-top-0 {
  margin-top: 0;
}

.jb-offset-top-4 {
  margin-top: 4px;
}

.jb-offset-top-8 {
  margin-top: 8px;
}
.jb-offset-top-md-8 {
  @media (max-width: 1000px) {
    margin-top: 8px;
  }
}

.jb-offset-top-12 {
  margin-top: 12px;
}

.jb-offset-top-16 {
  margin-top: 16px;
}

.jb-offset-top-24 {
  margin-top: 24px;
}

.jb-offset-top-32 {
  margin-top: 32px;
}

.jb-offset-top-48 {
  margin-top: 48px;
}

.jb-offset-top-64 {
  margin-top: 64px;
}

.jb-offset-top-96 {
  margin-top: 96px;
}